---
# Only the main SASS file needs front matter
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Raleway');

/***** Personal variables ***/
$base-font-family: 'Gascogne', sans-serif;
$title-font: 'Bree Serif', serif;
$code-font: "Courier New", Courier, monospace;


// Defining a base font
// $base-font-size:   16px;

//Calculating base font based on the
// viewport width

$base-font-size: calc(.4vw + .8em);


// Base line height and font size
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #737373;
$background-color: #fdfdfd;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$blue-color:	   #4183C4;
$thistle-color: lighten(#bda0cb, 5%);
$dark-grey: #515865;   ///used for the nav and footer

// Width of the content area
$content-width:    1000px;
$on-palm:          600px;
$on-laptop:        800px;

// Using media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "svg-icons",
        "sidebar";
