<header class="header">
	<div class="header-container">
	<div class="site-title">{{site.title}} </div>
	<div class="description"> {{site.motto}} </div>
	<br/>
		<div class="nav">
			<a href="{{site.baseurl}}/index.html"><i class="fa fa-home"></i> Home</a>
			<a href="{{site.baseurl}}/about"><i class="fa fa-info-circle"></i> About</a>
			<a href="{{site.baseurl}}/handson"><i class="fa fa-laptop"></i> Hands On</a>
			<a href="{{site.baseurl}}/students_tuto"><i class="fa fa-graduation-cap"></i> Students</a>
		</div>
		<br/>
	</div>
</header>
