<div class="sidenav">
            <a href="https://twitter.com/intent/tweet?text={{ site.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter">
                  <i class="fa fa-twitter"></i>
          </a>

          <a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
                  <i class="fa fa-linkedin"></i>
          </a>

          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
                  <i class="fa fa-google-plus"></i>
          </a>

          <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit">
                  <i class="fa fa-reddit"></i>
          </a>

</div>
