<div id="mySidenav" class="sidenav">
          Share:
        </br>
        </br>
          <a href="https://twitter.com/intent/tweet?text={{ site.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter">
                  <i class="fa fa-twitter-square"></i>
          </a>

          <a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
                  <i class="fa fa-linkedin-square"></i>
          </a>

          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
                  <i class="fa fa-google-plus-square"></i>
          </a>

          <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit">
                  <i class="fa fa-reddit-square"></i>
          </a>

</div>
